<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startPoints</key>
	<array>
		<string>{25,10}</string>
		<string>{33.82,22.86}</string>
		<string>{48.78,27.27}</string>
		<string>{39.27,39.64}</string>
		<string>{39.69,55.32}</string>
		<string>{25,50}</string>
		<string>{10.31,55.23}</string>
		<string>{10.73,39.64}</string>
		<string>{1.22,27.27}</string>
		<string>{16.18,22.86}</string>
	</array>
	<key>endPoints</key>
	<array>
		<string>{33.82,22.86}</string>
		<string>{48.78,27.27}</string>
		<string>{39.27,39.64}</string>
		<string>{39.69,55.32}</string>
		<string>{25,50}</string>
		<string>{10.31,55.23}</string>
		<string>{10.73,39.64}</string>
		<string>{1.22,27.27}</string>
		<string>{16.18,22.86}</string>
		<string>{25,10}</string>
	</array>
</dict>
</plist>
